@import "alert";

.list ul {
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
  li{
    background-color: lightgray;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 75rem;
    padding: 4rem;
  }
}
