<h1>Welcome to Spend wise</h1>

<div class= "list">
  <ul data-controller="position">
    <% @categories.each do |category| %>
      <li class="category-item">
        <span class="category-name"><%= category.name %></span>
        <span class="category-amount"><%= category.amount %></span>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <h1><%= category.total_amount %></h1>
</div>

<%# <%= image_tag "icon.png", alt: "Categories Icon" %>

<%# <a href="https://www.freepik.com/icon/balanced-diet_6774898#fromView=search&page=1&position=73&uuid=a8be3c28-d9f4-4694-bdb1-2876523dd9f2">Icon by paulalee</a> %>
